* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@function random-hex() {
  $finishedcolor: "#";
  @for $i from 1 through 6 {
    $number: random(16) - 1;
    @if $number < 10 {
       $finishedcolor: $finishedcolor + $number;
    } @else {
      @if $number == 10 {
        $finishedcolor: $finishedcolor + "A";
      } @else {
        @if $number == 11 {
          $finishedcolor: $finishedcolor + "B";
        } @else {
          @if $number == 12 {
            $finishedcolor: $finishedcolor + "C";
          } @else {
            @if $number == 13 {
              $finishedcolor: $finishedcolor + "D";
            } @else {
              @if $number == 14 {
                $finishedcolor: $finishedcolor + "E";
              } @else {
                @if $number == 15 {
                  $finishedcolor: $finishedcolor + "F";
                }
              }
            }
          }
        }
      }
    }
  }
  @return unquote($finishedcolor);
}
%bg-random {background-color: random-hex();}

@mixin star-end($start, $lenght) {
  animation-duration: 1s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes bounce {
    0% {
      width: 55px;
      height: 45px;
      transform: translateY(0px);
    }
    100% {
      transform: translate(-$start, -$lenght);
    }
  }
}
$terrain-color: green;
$ball-color: orange;
$container: lightblue;
.wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    background-color: $container;
    width: 35%;
  }
  .terrain {
    height: 10px;
    background-color: $terrain-color;
  }

  .ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // background-color:$ball-color;
    @include star-end(0px, 300px);
    align-self: center;
  }
  
  .bounce {
   @extend %bg-random;
  }
}
